
html,body{
    height:100%;
    background-color: rgb(243, 243, 243);

}

body {
    margin: 0;
    }

.participants {
    margin: 0 auto 0 auto;
    padding:50px 50px 50px 50px;
    width: 90%;
}


.list {
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    
}

.member {
    float:left;
    text-align:center;
    display: block;
    width:250px;
    aspect-ratio: 1.618;
    padding:0;
    margin:16px;
    border-radius:12px;
    box-shadow: 0 0 20px rgba(105, 105, 105, 0.15);
    background-color:white;
}
.name{
    font-size: 20px;
    margin:5% 5% 2.5% 5%;
    padding-bottom: 2.5%;
    border-bottom:1px solid #b4b4b4;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.counter {
    display:flex;
    justify-content: center;
}

.cnt {
    margin: 3px 10px 0px 10px;
    width:20%;
    user-select: none;
}

.cnt:hover{
    transform: 50px,50px;
}

.crct{
    color:rgb(55, 55, 224);
    margin-top: -5px; 
    cursor: pointer;
    
}
.incrct{
    color:rgb(236, 66, 66);
    margin-top: -5px;
    cursor: pointer;
}

.cntjimaku {
    display:flex;
    font-size: 4px;
    padding:0;
    justify-content: center;
    font-size: small;
}
.crctjimaku{
    color:rgb(152, 152, 255);
    
}
.incrctjimaku{
    color:rgb(255, 155, 155);
}

.plus{
    text-align:center;
    padding:20px 0;
    color:#979797;
}

.plusbtn{
    margin-bottom: 140px;
}

footer{
    display: flex;
    position: fixed;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    /*footerの装飾*/
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 30px 0;
    box-shadow: 0 0 20px rgba(105, 105, 105, 0.15);
}


button, select {
    margin: 0 20px; /* ボタンやセレクトボックスの左右に余白を追加 */
}


.reset-button{
    margin-left: auto;
}



.point {
    text-align: center;
    margin:0;
    font-size: 24px;
}

input[type="text"] { width: 3em; }
/*q*/